.container {
    width:800px;
    margin-top:100px;
}

body {
    background-image: url(../image/play-stone-1743645_1920.jpg);
    background-attachment: fixed;
}

.signup {
    padding:50px;
    border-radius:20px;
    box-shadow:0 0 40px black;
    background-color:rgba(224, 224, 224, 0.8);
}

.portrait {
    margin-left: auto;
    margin-right: auto;
    width:400px;
}

#submitButton{
    margin-top:20px;
    margin-left: auto;
    margin-right:auto;
    width:170px;
    height:60px;
    font-size:23pt;
    font-weight: bold;
}