
.item__content p{bottom:0px; left:0; width:360px; height:24px; line-height:24px; background:#000; opacity:.7;}
.item__content p a{padding-left:30px; height:24px; background:url(image/heart.png) no-repeat 4px -1px;color:#fff; font-weight:bold; font-size:14px}
.item__content p a:hover{background-position:4px -25px;text-decoration:none}
